* {
  font-family: "Roboto", sans-serif;
}

main,
body,
header,
.listings,
.sidebar {
  /* background-image: url("imgs/paz.jpg"); */
  /* padding: 10px; */
}

img {
  /* border: 5px solid black; */
  margin: 5px;
}

/* .App {
    -webkit-filter: blur(5px) grayscale(90%);
} */

.modal {
  padding-top: 20vh;
}

.modal-text {
  position: relative;
  top: 78%;
  height: 22%;
  background-color: rgba(0, 0, 0, 0.45);
}

header {
  display: flex;
  flex-flow: row;
  background: #393d3f;
  border: 1px solid black;
}

.navbar {
  background-color: #e0e0e0;
}

button {
}

.shaped {
  flex-flow: row wrap;
  justify-content: flex-end;
}

.app {
  /* display: flex; */
  /* flex-direction: column; */
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.listings {
  flex: 1;
  background-image: linear-gradient(#3d3d3d, rgb(26, 24, 24));
}

.listing {
  position: relative;
  color: black;
  height: 120px;
  width: 120px;
  margin-right: 12px;
}

.listingImage {
  width: 100%;
}

.cardText {
  color: white;
  background: rgba(0, 0, 0, 0.45);
  bottom: 65px;
  left: 5px;
  height: 60px;
  width: 175px;
  position: relative;
}

.sidebar {
  display: flex;
  flex: 0 1 150px;
  flex-direction: column;
  background-image: linear-gradient(#393d3f, rgb(44, 43, 43));
  border: 1px solid black;
  height: 95%;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

input[type="radio"] {
  display: none;
}

.blinking {
  animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  10% {
    color: pink;
  }
  24% {
    color: forestgreen;
  }
  38% {
    color: gold;
  }
  50% {
    color: yellow;
  }
  63% {
    color: skyblue;
  }
  99% {
    color: brown;
  }
  100% {
    color: #000;
  }
}