* {
    font-family: 'Roboto', sans-serif;
}

main, body, header, .listings, .sidebar{
    /* background-image: url("imgs/paz.jpg"); */
    /* padding: 10px; */
}

img{
    /* border: 5px solid black; */
    margin: 5px;
}

/* .App {
    -webkit-filter: blur(5px) grayscale(90%);
} */

.modal {
    padding-top:20vh;
}

.modal-text{
    position: relative;
    top: 78%;
    height: 22%;
    background-color: rgba(0, 0, 0, 0.45);
}

header{
    display: flex;
    flex-flow: row;
    background: #393D3F;
    border: 1px solid black;
    /* margin: 5px; */
    justify-content: right;
}

.navbar {
    background-color: #E0E0E0;
}

button {

}

.shaped {
    flex-flow: row wrap;
    justify-content: flex-end;
}

.app {
    /* display: flex; */
    /* flex-direction: column; */
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.listings {
    flex: 1;
    /* flex-flow: wrap; */
    background-image: linear-gradient( #3d3d3d, rgb(26, 24, 24));
    /* border: 1px solid black; */
    /* margin: 5px; */
}

.listing{
    /* display: block; */
    /* position: relative; */
    position: relative;
    text-align: center;
    color: black;
}

.listingImage{
    width: 100%;
    /* position: absolute; */
}

.listingText{
    /* display: inline-flex; */
    /* box-sizing: content-box; */
    color: white;
    background: rgba(0, 0, 0, 0.45);
    bottom: 65px;
    left: 5px;
    height: 60px;
    width: 175px;
    position: relative;
}

.sidebar{
    display: flex;
    flex: 0 1 150px;
    flex-direction: column;
    background-image: linear-gradient(#393D3F, rgb(44, 43, 43));
    border: 1px solid black;
    margin: 5px;
}



.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    10%{    color: pink; }
    24%{    color: forestgreen; }
    38%{    color: gold; }
    50%{    color: yellow; }
    63%{    color: skyblue;}
    99%{    color:brown;  }
    100%{   color: #000;    }
}
